<a href="https://colab.research.google.com/github/LucasDatilioCarderelli/Pokemon/blob/master/Pokemon_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Projeto ML Pokémon
Existe diferentes tipos de pokémon, existe um consenço de que pokemons do tipo fogo tem mais ataque, agua tem mais vida e grama tem mais defesa, será que é verdade, todos os pokémons são balanceados entre si? Ou existe o time mestre? A ideia aqui é fazer uma analise geral e descobrir se uma maquina consegue prever o tipo de pokemon pelo seus estatus.

## Importando as Bibliotecas principais e o Conjunto de Dados (ds)

In [0]:
import pandas as pd
import numpy as np

%precision %.2f
pd.options.display.float_format = '{:,.1f}'.format

In [0]:
uri = 'https://raw.githubusercontent.com/LucasDatilioCarderelli/Pokemon/master/Pokemon.csv'
pokemons = pd.read_csv(uri)

In [0]:
pokemons.head()

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False

[5 rows x 13 columns]

In [0]:
oMelhor = pokemons['Name'][0]
print(f'{oMelhor} é o melhor pokémon!!')

Bulbasaur é o melhor pokémon!!

 - Dados carregado com sucesso

## Analisando o Quadro de Dados (df)

In [0]:
pokemons.describe()

          #  Total    HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  Generation
count 800.0  800.0 800.0   800.0    800.0    800.0    800.0  800.0       800.0
mean  362.8  435.1  69.3    79.0     73.8     72.8     71.9   68.3         3.3
std   208.3  120.0  25.5    32.5     31.2     32.7     27.8   29.1         1.7
min     1.0  180.0   1.0     5.0      5.0     10.0     20.0    5.0         1.0
25%   184.8  330.0  50.0    55.0     50.0     49.8     50.0   45.0         2.0
50%   364.5  450.0  65.0    75.0     70.0     65.0     70.0   65.0         3.0
75%   539.2  515.0  80.0   100.0     90.0     95.0     90.0   90.0         5.0
max   721.0  780.0 255.0   190.0    230.0    194.0    230.0  180.0         6.0